body {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.Row {
  display: flex;
  justify-content: center;
}
.cell {
  padding: 22px 26px 29px;
  border: 1px solid;
  font-weight: bolder;
  font-size: 24px;
  width: 27px;
  height: 27px;
  text-align: center;
}
input {
  margin-bottom: 10px;
  border-style: solid hidden solid solid;
}
button {
  font-family: "Poppins", sans-serif;
  background-color: white;
  padding: 3px 10px;
}
.message {
  margin: 10px;
  font-size: 24px;
}
.O {
  color: cornflowerblue;
}
.X {
  color: coral;
}
