body {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.Board {
  margin-bottom: 50px;
}
.Row {
  display: flex;
  justify-content: center;
}
.cell {
  color: #1a936f;
  padding: 22px 26px 29px;
  border-radius: 3px;
  margin: 6px;
  border: 2px solid;
  font-weight: bolder;
  font-size: 24px;
  width: 27px;
  height: 27px;
  text-align: center;
  cursor: default;
}
select {
  margin: 10px;
  height: 30px;
  border: 2px solid coral;
  padding: 1px 10px;
  font-family: "Poppins", sans-serif;
  border-style: solid solid solid solid;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  width: auto;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
button {
  height: 30px;
  border: 2px solid cornflowerblue;
  font-family: "Poppins", sans-serif;
  background-color: white;
  padding: 3px 10px;
  cursor: pointer;
}
img {
  height: 40px;
  border: 2px solid #181616;
  border-radius: 3px;
  margin: 20px;
}
.message {
  margin: 10px;
  font-size: 24px;
  font-weight: 700;
  height: 50px;
  padding-top: 10px;
}
.O {
  background-color: rgba(100, 148, 237, 0.08);
  color: cornflowerblue;
}
.X {
  background-color: rgba(255, 127, 80, 0.08);
  color: coral;
}
.Won {
  transform-origin: -50% -50%;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.Tie {
  color: #1a936f;
}
.empty {
  cursor: pointer;
}

@keyframes example {
  0% {
    color: coral;
    font-size: 24px;
    transform: scale(100%);
  }
  33% {
    color: #1a936f;
    font-size: 32px;
  }
  67% {
    color: cornflowerblue;
  }
  100% {
    color: coral;
    font-size: 24px;
  }
}

.no-bg {
  background: none !important;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
